{% extends 'base.html' %}

{% block title %} Книгофил {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

{% endblock %}

{% block body %}

{% load static %}
   
	{% load thumbnail %}
    <style>body{background-color: #FEE9A0}
           btn{background-color: transparent}
	</style>

	
    <style>body{background-color: ivory}
    .stx{
         font-style: italic;
         font-weight: bold;
         font-size: 18px;
		 color: #990000;
         background-color: #FFFFF0;
        }
    .jumbotron{
      font-style: italic;
	  margin-top: 5px;
      padding: 17px;
	  color: #990000;
      background-color: #FFFFF0;
	 }
    </style>    
  </head>

<body>

<div class = "container">
  <div class="row">
     <div class="col-md-4"> <br> <br><img src="{% static 'images/image1.jpg' %}">
     <br>
     <p><span class="stx">
         Богу равным кажется мне по счастью
         Человек, который так близко-близко
         Пред тобой сидит, твой звучащий нежно
         Слушает голос
         И прелестный смех. У меня при этом
         Перестало сразу бы сердце биться:
         Лишь тебя увижу - уж я не в силах
         Вымолвить слова.
         Но немеет тотчас язык, под кожей
         Быстро легкий жар пробегает, смотрят,
         Ничего не видя, глаза, в ушах же -
         Звон непрерывный.
         Потом жарким я обливаюсь, дрожью
         Члены все охвачены, зеленее
         Становятся травы, и вот-вот как будто
         С жизнью прощусь я,
         Но терпи, терпи: чересчур далёко
         Все зашло...
         </span></p>
<img src="{% static 'images/image5.jpg' %}"></div>
<!--     <div class="col-md-8 " ><div class="div1"><h1 align="right">Несколько слов о Сафо</h1><br><h4>&nbsp;&nbsp;{{h2.content}}</h4></div></div>  -->
<div class="col-md-8 " ><div class="jumbotron"><h2 align="center"> <br>Несколько слов о Сафо</h2><br><h6>&nbsp;&nbsp;{{h1.content}}</h6></div></div> 

  </div>
</div>
{% endblock %}
{% block js %} {% endblock %}
</html>